body {
  margin: 0px;
}
.headers {
  min-height: 100vh;
  background-image: url("https://wallpapercave.com/wp/wp7529239.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  background-attachment: scroll;
  filter: contrast(1.2);
}
.App {
  min-width: 100vw;
  /* border: 2px solid red; */
  box-sizing: border-box;
}

@media only screen and (max-width: 340px) {
  .headers {
    min-height: 120vh;
  }
}

/* @media only screen and (max-width: 400px) {
  .App {
    min-width: 110vw;
  }
}

@media only screen and (max-width: 300px) {
  .App {
    min-width: 140vw;
  }
} */
