body {
  margin: 0px;
}
.headers {
  /* border: 2px solid red; */
  min-height: 100vh;
  background-image: url("https://wallpapercave.com/wp/wp7529239.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  background-attachment: scroll;
  filter: contrast(1.2);
}
.App {
  min-width: 100vw;
  /* border: 2px solid red; */
  box-sizing: content-box;
}
