body {
  margin: 0px;
}
.headers {
  /* border: 2px solid red; */
  height: 800px;
  background-image: url("https://p0.pikist.com/photos/177/678/desert-night-starry-night-stars-landscape-nature-sky-universe-scenic.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  background-attachment: scroll;
}
