.nav {
  height: 10%;
}

.list {
  margin-top: 0px; /*list always has some top margin*/
  list-style: none;
  text-align: center;
}
.list li {
  display: inline-block; /*we cant change height for inline el*/
  margin: 30px 60px 0px 10px; /*top right botom left*/
  font-size: 1.25rem;
  font-weight: lighter;
  font-style: oblique;
}

.list li a {
  text-decoration: none;
  color: lightgray;
  transition: 0.5s all;
}

.list li a:hover {
  color: red;
}
